<script lang="ts">
	import { fly } from "svelte/transition";
	let centerDiv: HTMLDivElement;
	let distanceLeft = -1;
	let started = false;
	let alternateColor = "red";
	let alternateTimes = 0;
	function ended(){
		const interval = setInterval(() => {
			if(alternateColor == "red"){
				alternateColor = "transparent"
			}else{
				alternateColor = "red"
			}
			centerDiv.style.backgroundColor = alternateColor
			alternateTimes ++
			if(alternateTimes == 21){
				clearInterval(interval)
				alternateTimes = 0
				alternateColor = "red"
			}
		}, 100)
	}
	let timers = setInterval(() => {
		if (distanceLeft == 0) {
			stop();
			ended()
		}
		if (started == false) {
			distanceLeft = -1;
		}
		if (started) {
			distanceLeft -= 1000;
			hours = Math.floor(
				(distanceLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
			);
			minutes = Math.floor(
				(distanceLeft % (1000 * 60 * 60)) / (1000 * 60),
			);
			seconds = Math.floor((distanceLeft % (1000 * 60)) / 1000);
		}
	}, 1000);
	function start() {
		if (seconds == 0 && hours == 0 && minutes == 0) return;
		started = true;
		distanceLeft = 0;
		distanceLeft += seconds * 1000;
		distanceLeft += minutes * 60 * 1000;
		distanceLeft += hours * 60 * 60 * 1000;
	}
	function stop() {
		started = false;
	}
	let seconds = 0;
	let minutes = 0;
	let hours = 0;
	enum time {
		"second",
		"minute",
		"hour",
	}
	function updown(increase: boolean, whichValue: time) {
		let values = 0;
		if (increase == true) {
			values += 1;
		} else {
			values -= 1;
		}
		switch (whichValue) {
			case time.hour:
				if (hours + values == -1) break;
				hours += values;
				break;
			case time.second:
				if (seconds + values == -1) break;
				seconds += values;
				break;
			case time.minute:
				if (minutes + values == -1) break;
				minutes += values;
				break;
		}
	}
</script>

<div class="center" bind:this={centerDiv}>
	{#if started == false}
		<button
			class="updown upHour material-symbols-outlined"
			style="grid-area: upHour"
			on:click={() => updown(true, time.hour)}>expand_less</button
		>
		<button
			class="updown upMinute material-symbols-outlined"
			style="grid-area: upMinute"
			on:click={() => updown(true, time.minute)}>expand_less</button
		>
		<button
			class="updown upSecond material-symbols-outlined"
			style="grid-area: upSecond"
			on:click={() => updown(true, time.second)}>expand_less</button
		>
	{/if}
	{#key hours}
		<span
			class="number numberHour cent"
			style="grid-area: hour"
			class:started
			in:fly={{ y: -20 }}>{hours}</span
		>
	{/key}
	{#key minutes}
		<span
			class="number numberMinute cent"
			style="grid-area: minute "
			class:started
			in:fly={{ y: -20 }}>{minutes}</span
		>
	{/key}
	{#key seconds}
		<span
			class="number numberSecond cent"
			style="grid-area: second"
			class:started
			in:fly={{ y: -20 }}>{seconds}</span
		>
	{/key}
	{#if started == false}
		<button
			class="updown downHour material-symbols-outlined"
			style="grid-area: downHour"
			on:click={() => updown(false, time.hour)}>expand_more</button
		>
		<button
			class="updown downMinute material-symbols-outlined"
			style="grid-area: downMinute"
			on:click={() => updown(false, time.minute)}>expand_more</button
		>
		<button
			class="updown downSecond material-symbols-outlined"
			style="grid-area: downSecond"
			on:click={() => updown(false, time.second)}>expand_more</button
		>
		<button on:click={start} class="start" style="grid-area: start"
			>start</button
		>
	{/if}
	{#if started}
		<button on:click={stop} class="start" style="grid-area: stop"
			>stop</button
		>
	{/if}
</div>

<style>
	.center {
		margin-top: 20px;
		width: 100%;
		height: 100%;
		display: grid;
		align-content: center;
		justify-content: center;
		grid-template-areas:
			"upHour upMinute upSecond"
			"hour minute second"
			"downHour downMinute downSecond"
			"stop stop stop"
			"start start start";
		gap: 20px;
	}
	.cent {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.start {
		font-size: 2rem;
	}
	.updown,
	.number {
		font-size: 2rem;
	}
	.started {
		font-size: 4rem;
	}
</style>
