<script lang="ts">
	import { ask } from "@tauri-apps/api/dialog";
	import {
		BaseDirectory,
		readTextFile,
		removeFile,
	} from "@tauri-apps/api/fs";
	import { Page, page } from "./stores";
	import { onMount } from "svelte";
	import { fetch } from "@tauri-apps/api/http";
	import Topbar from "./Topbar.svelte";
	import { descriptions } from "../stores";
	let loading = true;
	interface IDeck {
		name: string;
		id: number;
		color: string;
	}

	let decks: IDeck[] = [];
	async function logout() {
		const option = await ask("Are you sure you want to logout?", {
			title: "Logout",
			type: "warning",
		});
		if (option == true) {
			await removeFile("config.json", { dir: BaseDirectory.AppData });
			page.set(Page.login);
		}
	}
	function moreMenu(card) {
		cardDialog.showModal();
		descriptions.set(card.description);
	}
	onMount(async () => {
		await readTextFile("config.json", { dir: BaseDirectory.AppData });

		const textfile = await readTextFile("config.json", {
			dir: BaseDirectory.AppData,
		});
		const config = JSON.parse(textfile);
		if (config.userPass && config.instances && config.version) {
			let detail = await fetch(
				config.instances.toString() +
					"/index.php/apps/deck/api/v1.0/boards",
				{
					method: "GET",
					headers: {
						"OCS-APIRequest": "true",
						Authorization: "Basic " + config.userPass,
					},
				},
			);
			if (detail.data) {
				const deck = detail.data;
				deck.forEach((element) => {
					// if(element.id && element.title && element.color){
					decks.push({
						id: element.id,
						name: element.title,
						color: element.color,
					});
					// }
				});
				console.log(decks);
				decks = decks;
			}
		}
	});
	let deckBoard = "0";
	let content = [];
	let selectedBoard = false;
	async function change() {
		const textfile = await readTextFile("config.json", {
			dir: BaseDirectory.AppData,
		});
		const config = JSON.parse(textfile);
		if (
			config.userPass &&
			config.instances &&
			config.version &&
			deckBoard != "0"
		) {
			let detail = await fetch(
				config.instances.toString() +
					"/index.php/apps/deck/api/v1.0/boards/" +
					deckBoard +
					"/stacks",
				{
					method: "GET",
					headers: {
						"OCS-APIRequest": "true",
						Authorization: "Basic " + config.userPass,
					},
				},
			);
			if (detail.status == 403) {
				content = [];
			} else {
				content = detail.data;
			}
			console.log(content);
			selectedBoard = true;
		} else {
			selectedBoard = false;
		}
	}
	let cardDialog: HTMLDialogElement;
	function descriptionText(strings: string) {
		let returned = strings
		 	.replaceAll(/<.*>.*<\/.*>/g, "")
			.replaceAll("\n- [ ]", '<br><input type="checkbox" disabled>')
			.replaceAll("\n- [x]", '<br><input type="checkbox" checked disabled>')
			.replaceAll("\n", "<br>")
		let matched=returned.matchAll(/\n- .*/g)
		console.log(matched)
		return returned
	}
</script>

<main>
	<Topbar>
		<select name="" id="" on:change={change} bind:value={deckBoard}>
			<option value="0" selected></option>
			{#each decks as deck}
				<option style="color: {deck.color}" value={deck.id}
					>{deck.name}</option
				>
			{/each}
		</select>
		<button on:click={logout}>Logout</button>
	</Topbar>
	<dialog bind:this={cardDialog}>
		<button
			class="material-symbols-outlined"
			on:click={() => {
				cardDialog.close();
			}}>close</button
		>
		<br />
		<h1>
			cards description:
		</h1>
		<br>
		{@html descriptionText($descriptions)}
	</dialog>
	{#if selectedBoard == true}
		<div class="sidegrid">
			{#each content as cont}
				<div class="rowgrid">
					<div class="topcard">
						<span class="title">{cont.title}</span>
						<button class="material-symbols-outlined more">
							more_vert
						</button>
					</div>
					{#each cont.cards as card}
						<div class="card">
							<span class="title">{card.title}</span>
							<button
								class="material-symbols-outlined more"
								on:click={() => moreMenu(card)}
							>
								more_vert
							</button>
						</div>
					{/each}
				</div>
			{/each}
		</div>
	{:else}
		<h1>Nothing has been selected</h1>
	{/if}
</main>

<style>
	main {
		height: 95vh;
		grid-template-rows: 30px auto;
		padding: 2.5vh;
	}
	.sidegrid {
		display: grid;
		grid-auto-flow: column dense;
		align-items: baseline;
		gap: 20px;
		height: calc(95vh - 30px);
		overflow: scroll;
	}
	.rowgrid {
		display: grid;
		grid-auto-flow: row dense;
		gap: 20px;
	}
	.card {
		background: rgba(255, 255, 255, 0.25);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		height: 50px;
		font-size: 15px;
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: 90% 10%;
	}
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.more {
		user-select: none;
		background-color: transparent;
		border-color: transparent;
		border-style: none;
		box-shadow: none;
		padding: 0;
		width: auto;
		height: auto;
	}
	.topcard {
		background: rgba(1, 38, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(8.5px);
		-webkit-backdrop-filter: blur(8.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		font-size: 20px;
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: 90% 10%;
		height: 70px;
		margin-top: 20px;
	}
</style>
