<script lang="ts">
	import Clock from "./Clock.svelte";
import Topbar from "./Topbar.svelte";
	import Countdown from "./countdown.svelte";
	let pagesIn = "countdown"
</script>
<Topbar>
	<select name="" id="" bind:value={pagesIn}>
		<option value="countdown">countdown</option>
		<option value="clock">clock</option>
	</select>
</Topbar>
<!-- <progress value={elapsed / duration} /> -->
{#if pagesIn == "countdown"}
	<Countdown />
{:else if pagesIn == "clock"}
	<Clock />
{/if}