<script>
	import { page } from "./stores";
</script>

<div class="topbar">
	<img src="/icon.png" alt="" class="icon" />
	<select name="" id="" bind:value={$page}>
		<option value="main" selected>Deck</option>
		<option value="timer">Timer</option>
	</select>
	<slot />
</div>

<style>
	.icon {
        height: 45px;
    }
    .topbar {
		display: grid;
		grid-template-columns: 45px 30% 30% auto;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
</style>
