<script lang="ts">
	import {  ask, message } from "@tauri-apps/api/dialog";
	import { BaseDirectory, createDir, exists, readTextFile, removeFile, writeTextFile } from "@tauri-apps/api/fs";
	import { fetch } from "@tauri-apps/api/http";
	import { onMount } from "svelte";
	import { Page, page } from "./lib/stores";
	import Main from "./lib/Main.svelte";
	import { version } from "@tauri-apps/api/os";
	import { getVersion } from "@tauri-apps/api/app";
	import Timer from "./lib/Timer.svelte";
    let instances:string = "https://"
    let username = ""
    let password = ""
    onMount( async () => {
        if(await exists("config.json", {dir: BaseDirectory.AppData}) != true){
            page.set(Page.login)
        }else{
            // check if the file is correct or not
            const textfile = await readTextFile("config.json", {dir: BaseDirectory.AppData})
            try {
                const config = JSON.parse(await textfile)
                console.log(config)
                if (config.userPass && config.instances && config.version){
                    page.set(Page.main)
                }else{
                    await fileBroken("")
                    console.log(textfile)
                }
            } catch (error) {
                await fileBroken(error)
                console.log(textfile)
            }
        }
    })
    async function fileBroken(error: any){
        await message("Parsing config file error. The config file might be corrupted.\n" + error.toString(), {title: "Error", "type": "error"})
        const option = await ask("Would you like to remove the file and try again?", {type: "info"})
        if(option == true){
            await removeFile("config.json", {dir: BaseDirectory.AppData})
            page.set(Page.login)
        }
    }
    async function login(){
        if(instances != "https://"){
            try {
                let detail = await fetch(instances + "/index.php/apps/deck/api/v1.0/boards", 
                    {
                        method: "GET", 
                        headers: {
                            'OCS-APIRequest': 'true',
                            'Authorization': 'Basic ' + btoa(`${username}:${password}`)
                        }
                    }
                )
                if (detail.status == 200){
                    // save to config
                    
                    const configContent = {version: await getVersion(),userPass: btoa(`${username}:${password}`), instances: instances}
                    await writeTextFile("config.json", JSON.stringify(configContent), {dir: BaseDirectory.AppData, append: true})
                    page.set(Page.main)
                }else{
                    message(detail.status.toString(), {title: "Error have occured", type: "error"})
                }
            } catch (error) {
                //@ts-ignore
                message(error.toString(), {title: "Error Have occured", type: 'error'}) 
            }
        }else{
            message("You have not fill in the nextcloud instance, username and password", {title: "Error", type: "info"})
        }
    }
</script>

    {#if $page == Page.login}
        <h1>Login:</h1>
        <div class="sameline">
            <span class="instancebox">Your nextcloud instance:</span>
            <input type="url" class="instance" bind:value={instances}>
            <span class="username">username: </span>
            <input type="text" bind:value={username}>
            <span class="password">password: </span>
            <input type="password" bind:value={password}>
            <button on:click={login}>Login</button>
        </div>
    {:else if $page == Page.main}
        <Main />
    {:else if $page == Page.timer}
        <Timer />
    {/if}

<style>
    h1 {
        font-size: large;
    }
    .sameline {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        grid-template-areas: 
        'instancebox instance'
        'username text'
        'password textbox'
        'footer footer';
    }
    .sameline > span.instancebox{
        grid-area: instancebox
    }
    .sameline > span.password{
        grid-area: password
    }
    .sameline > span.username{
        grid-area: username
    }
    .sameline > input[type="url"]{
        grid-area: instance
    }
    .sameline > input[type="text"]{
        grid-area: text
    }
    .sameline > input[type="password"]{
        grid-area: textbox
    }
    .sameline > button {
        grid-area: footer;
    }
</style>